@model AspNetCoreProject.Models.FlightInfo

@{
    ViewData["Title"] = "Edit";
}

    <h2>Edit Flight Information</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightID" />
            <div class="form-group">
                <label asp-for="FlightNunber" class="control-label"></label>
                <input asp-for="FlightNunber" class="form-control" />
                <span asp-validation-for="FlightNunber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOff" class="control-label"></label>
                <input asp-for="TakeOff" class="form-control" />
                <span asp-validation-for="TakeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Landing" class="control-label"></label>
                <input asp-for="Landing" class="form-control" />
                <span asp-validation-for="Landing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
